<% if @job.user == current_user && current_user.developer == false %>
  <h1><%= @job.title %></h1>
  <% @applied_dev.each do |application| %>
    <div class="card mb-3 p-3">
      <h5>Message : </h5>
      <% application.message.split("\n").each do |para| %>
        <p class = "pt-1"><%= para %></p>
      <% end %>
      <p>By <%= application.user.nickname %></p>
      <p>Status : <strong><%= application.status %></strong></p>

      <%= button_to("Accept", accept_application_path(application), method: :patch) %>
      <%= button_to("Reject", reject_application_path(application), method: :patch) %>
    </div>
  <% end %>
<% else %>
  <div class="container py-5 bg-dark text-white py-5">
    <div class="row">
      <div class="col-md-2 text-center">
        <p>
          <i class="fa fa-exclamation-triangle fa-5x"></i>
          <br />Status Code: 403
        </p>
      </div>
      <div class="col-md-10">
        <h3>OPPSSS!!!! Sorry...</h3>
        <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data. <br />Please go back to the previous page to continue browsing. </p>
        <%= link_to("Go Back", job_path(@job), class: 'btn btn-danger text-light') %>
      </div>
    </div>
  </div>
<% end %>