<style>
	.user-link:hover {
		text-decoration: none;
	}
</style>

<div class="container margTop6">
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<h1 class="design-heading">Hire the best <span class="highlight highlight-underline" style="background-color:#ff7eff;"><span class="highlight-word">talents<span class="highlight-border" style="background-color:#ff7eff;"></span></span></h1>
		</div>
	</div>
	<div class="row margTop2">
		<div class="col-md-12 margBott2 ">
		<%= form_with url: jobs_path, method: :get, class: "d-flex search-form-control form-group" do %>
				<%= text_field_tag :query,
					params[:query],
					class: "form-control string required",
					placeholder: "Find a job"
				%>
				<%# <%= submit_tag "Search", class: "btn btn-primary" %>
				<button name="button" type="submit" class="btn btn-flat">
					<i class="fas fa-search"></i> Search
				</button>
			<% end %>
		</div>
	</div>
	<div class="row justify-content-center">
		<% if current_user.developer == false %>
			<div class = "text-center">
				<%= link_to("Add a job &nbsp <i class='fa-solid fa-plus'></i>".html_safe, new_job_path,  class: 'btn btn-flat my-3') %>
			</div>
		<% end %>

		<% @jobs.each do |job| %>
			<div class="col-md-5 card p-3 margBott2 marg-neg position-relative" >
				<p class="type d-flex"><%= job.employment_type%></p>
				<p class = "fw-bold"><%= job.title %></p>
				<p><%= truncate job.description, length: 200 %></p>
				<p><%= job.expiry_date %></p>
				<div class = "d-flex align-items-center mb-4 gap-1">
					<div>By</div> 
					<div class = "fw-bold"><%= link_to(job.user.nickname, user_show_path(job.user), target: "_blank", class: 'text-dark user-link') %></div>
				</div>

				<%= link_to("Read More", job_path(job), class: 'btn-highlight d-flex text-black') %>
				<% if job.user == current_user %>
					<%= link_to('<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_job_path(job), class: 'edit-job-btn') %>
				<% end %>
			</div>
		<% end %>

	</div>
</div>
