
<div class="container margTop7 margBott3">

  <% content_for :meta_title, "#{@job.title} is on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, @job.description %>

	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<h1 class="design-heading text-center">
				<span class="highlight highlight-underline" style="background-color:#ff7eff;">
					<span class="highlight-word"><%= @job.user.nickname %> - <%= @job.title %><span class="highlight-border" style="background-color:#ff7eff;"></span></span>
				</h1>
			</div>
			<div class = "col-1">
				<% if @job.user == current_user %>
				<%= link_to("Delete", job_path(@job), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %>
				<% end %>
			</div>
		</div>
		<div class="row margTop2">
			<div class="col-md-5">
				<%= image_tag @job.user.image_url, class: "sticky-top", width: "350px" %>
			</div>
			<div class="col-md-6">
				<h2 class="design-heading pt-2">
					<span class="highlight highlight-underline" style="background-color:#ff7eff;">
						<span class="highlight-word1">Overview <span class="highlight-border" style="background-color:#ff7eff;"></span></span>
					</h2>
					<div class = "margTop1">
						<h4 class="squared-design">Bio</h4>
						<p class="paragraph">
							<%= @job.user.bio %>
						</p>
						<h4 class="squared-design">Job Description </h4>
						<p class="paragraph">
							<% @job.description.split("\n").each do |para| %>
							<p class="paragraph">
								<%= para %>
							</p>
							<% end %>
							<h4 class="squared-design">Location</h4>
							<p class="paragraph">
								<%= @job.locations %>
							</p>
							<h4 class="squared-design">Employment Type</h4>
							<p class="paragraph">
								<%= @job.employment_type %>
							</p>
							<h4 class="squared-design">Expiry date</h4>
							<p class="paragraph">
								<%= @job.expiry_date %>
							</p>
							<% if @job.user == current_user %>
							<%= link_to("Applied Developers", applied_job_path, class: 'btn btn-primary') %>
							<% end %>
						</p>
					</div>
				</div>
			</div>
			<div class="row margTop3">
				<% if current_user.developer == true && !@existed_application.present? %>

			<h1 class="design-heading text-center">
				<span class="highlight highlight-underline" style="background-color:#ff7eff;">
					<span class="highlight-word">Apply now<span class="highlight-border" style="background-color:#ff7eff;"></span></span>
				</h1>
			<div class="form-wrapper">
				<%= simple_form_for [@job, @application] do |f| %>
				<div class="form-inputs">
					<%= f.input :message, class: "squared-design" %>
					<%= f.input :status, input_html: {value: "pending", class: 'd-none hello'}, label: false %>
				</div>
				<div class="form-actions">
					<%= f.submit "Apply", :class =>
					"button-apply" %>
				</div>
				<% end %>
			</div>
			<% end %>
				</div>
			</div>
		</div>
