
<div class="row">
  <div class = "col-11">
    <h2><%= @job.title %></h2>
    <p>By : <%= @job.user.nickname %></p>
  </div>
  <div class = "col-1">
    <% if @job.user == current_user %>
      <%= link_to("Delete", job_path(@job), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %>
    <% end %>
  </div>
</div>

<br><br>

<div class="row px-2">
  <div class="col-9">
    <h3>Job Details</h3>

    <h5 class = "mt-4 fw-bold">Description :</h5>
    <div class="border border-1 p-2 mb-3">
      <% @job.description.split("\n").each do |para| %>
        <p class = "pt-1"><%= para %></p>
      <% end %>
    </div>
    <p><strong>Locations :</strong> <%= @job.locations %></p>
    <p><strong>Type of Emploment :</strong> <%= @job.employment_type %></p>
    <p><strong>Expiry Date : </strong><%= @job.expiry_date %></p>

    <% if @job.user == current_user %>
      <%= link_to("Applied Developers", applied_job_path, class: 'btn btn-primary') %>
    <% end %>
  </div>

  <div class="col-3">
    <h3>Info on Recruiter</h3>
    <div class="card mt-5">
      <h3><%= @job.user.nickname %></h3>
      <hr>
      <h4>Bio</h4>
      <h6><%= @job.user.bio %></h6>
    </div>
  </div>
</div>

<% if current_user.developer == true && !@existed_application.present? %>
  <hr>
  <h3>Apply for this job</h3>
  <div class="form-wrapper">
    <%= simple_form_for [@job, @application] do |f| %>
      <div class="form-inputs">
        <%= f.input :message %>
        <%= f.input :status, input_html: {value: "pending", class: 'd-none'}, label: false %>
      </div>
      <div class="form-actions">
        <%= f.submit "Apply", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>