<!DOCTYPE html>
<html>
  <head>
    <title>BetterDev</title>
		<%= favicon_link_tag asset_path('bracket.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id="#body">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <a href="#body" id="scrollTop" data-controller="scroll-to"><i class="fa-solid fa-arrow-up"></i></a>

    <div style = "padding-top: 76px">
      <%= yield %>
    </div>
		<%= render "shared/footer" %>
  </body>
</html>
